/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* debug */
    border: 1px dotted #000000;
}

/* COMMON */
/* layout */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* debug */
    min-width: 200px;

}

.section {
    padding: 20px 0;
}

.small-container {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    /* debug; */
    min-width: 200px;
}


/* HEADER TOP*/
.header-top {
    background-color: #00c3ff;
    padding: 10px;

}

.row {
    display: flex;


}

[class^="headercol"] {
    width: 100%;
    background-color: #d8ac59;
    text-align: center;
    /* debug */
    height: 30px;


}

.headercol-20 {
    width: 20%;
}

.headercol-60 {
    width: 60%;
}

/* /HEADER-TOP */

/* HEADER-BOT */
.header-bot {
    background: #0a04a0;

}

.small-col {
    background-color: #e727e3;
    width: 100%;
    /* debug */
    height: 200px
}

/* /HEADER-BOT */

/* MAIN */
/* FIRST  AND THIRD SECTION */
.white-section-main {
    background-color: #ffffff;
}

.maincol-70 {
    width: 70%;
    background: #6d99db;
}

.maincol-30 {
    width: 30%;
    background-color: #de91c7;
}

.maincol {
    /* debug */
    height: 200px
}

/* /FIRST AND THIRD SECTION */

/* SECOND-SECTION */
.grey-section-main {
    background-color: #bbafaf;

}

/* FOURTH-SECTION */
.big-maincol {
    background-color: #008000;
    width: 100%;
    /* debug */
    height: 400px;
}

/* /FOURTH-SECTION */
/* /MAIN */

/* FOOTER */
/* first section footer*/
.black-section {
    background: #212121;

}

.big {
    background-color: #ef436e;
    width: 30%;

}

.small {
    background-color: #299c85;
    width: calc(70%/4);
    /* debug */
    border: 1px dotted #ffffff;
}

.f-col {
    /* debug */
    min-height: 300px;
}

/* /first section footer */

/* second section footer */
.row-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #64d9b4;
}

.colf {
    background-color: #f86c8d;
    /* debug */
}

/* /second section footer */
/* /FOOTER */